body{
    height: 100vh;
}

nav{
    display: block;
    background-color: black;
    margin: 10px;
    padding: 5px;
    color: white;
}

.div{
    width: 20vw;
    /* height: 50vh; */
    margin: 100px auto;
    border: 5px solid grey;
}

img{
    width: 100%;
    display: block;
    /* height: 100%; */
}

/* Now, am learning the before and after pseudo classes */