body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one{
    background-color: red;
    width: 100px;
    height: 200px;
    position: relative;
}

.two{
    width: 100px;
    height: 200px;
    background-color: blue;
    position: absolute;
    right: -20px;
    top: 10px;
}

.three{
    background-color: green;
    width: 100px;
    height: 200px;
    position: absolute;
    right: -30px;
    top: 20px;
}